.row {
  display: flex;
  align-items: center;
  padding-bottom: 57px;
}

.row img {
  margin-right: 200px;
}

.row p {
  margin-right: 200px;
  font-weight: 600;
}

.row span {
  font-weight: 500;
}

.back {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}