header {
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 0px 5px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color:#fff;
}

.button__img {
  margin-right: 5px;
}

.dark {
  background-color: #444;
  color: #fff;
}